.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.monster-name {
  font-size: 24px;
  color: #1a1a1a;
  font-weight: 700;
}

.monster-email {
  font-size: 18px;
  color: #1a1a1a;
  margin-top: 15px;
}
